      <footer>
        Made with <a href="https://expressjs.com">Express.js</a>, <a href="https://ejs.co/">EJS</a>, CSS &amp; JavaScript
      </footer>
    
    </main>
    
    <script src="script.js" defer></script>