  <%- include('../partials/head.ejs'); %>

  <body>

    <main class="v-align max-600">

      <h1>Home 🏠</h1>
      
      <section>

        <%- include('../partials/nav.ejs'); %>

        <header>
          <h2>Welcome!</h2>
          Template made with Express and EJS on the back-end, and HTML, CSS and JavaScript on the front-end.
        </header>

        <div class="img-wrapper"></div>

      </section>

    <%- include('../partials/footer.ejs'); %>

  </body>
</html>